# Server
NODE_ENV=development
PORT=3000
API_PREFIX=api
API_VERSION=v1

# Database
DATABASE_URL=postgresql://tabungan_user:tabungan_pass@localhost:5432/tabungan_umroh?schema=public

# JWT
JWT_ACCESS_SECRET=change_this_access_secret_in_production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_refresh_secret_in_production
JWT_REFRESH_EXPIRES_IN=7d

# Rate limiting
THROTTLE_TTL=60
THROTTLE_LIMIT=20

# CORS
CORS_ORIGIN=*
